* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
    /* Cambia el color de texto a tu elección */
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #111111;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    background-color: #222222;
    padding: 1em;
    color: #fff;
    /* Cambia el color de texto a tu elección */
    margin: 0;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#contenedor {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

#contenedor_monedas {
    margin-top: 3em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    /* Ajusta el espacio entre los productos */
}

.monedas {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    /* Añade bordes redondeados a los productos */
}

.monedas .contenedor_imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    /* Ajusta el tamaño de la imagen del producto */
}

.img {
    height: 100%;
    overflow: hidden;
}

.monedas h3 {
    font-size: 1.5em;
    margin: 10px 0;
    color: #fff;
    /* Cambia el color de texto a tu elección */
}

.monedas button {
    background-color: #ef3c34;
    width: 80%;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    /* Cambia el color de texto a tu elección */
    cursor: pointer;
    transition: background-color 0.2s;
}

.monedas button:hover {
    background-color: #d1372f;
}

#estado-cambio {
    margin-top: 3em;
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    font-size: 1.5em;
}

.botones button {
    background-color: #ef3c34;
    width: 10em;
    font-size: 0.8em;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    color: #fff;
    /* Cambia el color de texto a tu elección */
    cursor: pointer;
    transition: background-color 0.2s;
}

.botones button:hover {
    background-color: #d1372f;
}

#contenedor_producto {
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.producto {
    visibility: hidden;
    left: 50%;
}

.link {
    text-decoration: none;
    background-color: #222222;
    color: #c9c9c9;
    padding-bottom: 1em;
    display: block;
}

.link:hover {
    text-decoration: underline;
    color: #e09123;
}